{% extends "base_with_sidebar.html" %}

{% block title %}Join The 596 Acres Distribution Team{% endblock %}

{% block content_main %}
<p>Would you like to join the distribution team? 596 Acres maps are being afixed to vacant lots throughout the borough and made available at select locations. Use the form below if you would like to join the lot-labelling team or have a suggestion for where maps should be made available.</p>
<form method="post" action=".">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="submit" />
</form>
{% endblock %}
