{% extends "base_with_sidebar.html" %}
{% load i18n %}

{% block title %}{% trans "Tell Us About the Lot in Your Life" %}{% endblock %}

{% block content_main %}
{% comment %}
{% trans "Thanks! We should be in touch with you shortly." %}
{% endcomment %}

<p>
Thanks for getting in touch with us. We will not be answering new inquiries until <strong>January 28, 2012</strong>.
</p>
<p>
In the meantime you could browse our <a href="/resources/">resources</a> and <a href="/frequently-asked-questions/">frequently asked questions</a>.
</p>

{% endblock %}
