{% extends "lots/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }}: {% trans "Add note" %}{% endblock %}

{% block content_main %}
{{ block.super }}
<div id="lot-details">
    <h1>{% trans "Add note" %}</h1>
    <h2>
        {% include "organize/block_link_snippet.html" %}
    </h2>
    <div>
        <p style="font-weight: bold;">
            {% trans "Due to spam we are temporarily moderating notes. Please be patient while we approve your note." %}
        </p>
        <span>{% trans "Please enter your note below." %}</span>
        {% include "organize/form_snippet.html" %}
    </div>
</div>
{% endblock %}
