{% extends "lots/base.html" %}
{% load i18n lot_filters %}

{% block title %}{{ block.super }}: {% trans "Watch a lot" %}{% endblock %}

{% block content_main %}
{{ block.super }}
<div id="lot-details">
    <h1>{% trans "Watch a lot" %}</h1>
    <h2>
        {% include "organize/block_link_snippet.html" %}
    </h2>
    <div>
        <p>Success! You are now watching a vacant lot that we're calling <a href="{{ lot.get_absolute_url }}">{{ lot|lotname:"group" }}</a>.</p>
        <p>You will now receive emails when that lot is updated--when new organizers sign up on the lot and notes are added to it. If this was an accident or if you change your mind in the future, you can stop watching this lot at any time on <a href="{{ BASE_URL }}{{ watcher.get_edit_url }}">this page</a>. You should receive an email with this link soon.</p>
        {% if nearby_lots %}
        <p>Also, here are some lots near this one you might be interested in:
            <ul class="nearby-lots">
                {% for nearby in nearby_lots %}
                <li>
                    <a href="{{ nearby.get_absolute_url }}">{{ nearby|lotname:"group" }}</a>
                    {{ nearby|lot_short_description }}
                </li>
                {% endfor %}
            </ul>
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}
