{% extends "lots/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }}: {% trans "Add note" %}{% endblock %}

{% block content_main %}
{{ block.super }}
<div id="lot-details">
    <h1>{% trans "Add note" %}</h1>
    <h2><a href="{% url lots.views.details bbl=lot.bbl %}">{{ lot.borough }}, block {{ lot.block }}, lot {{ lot.lot }}</a></h2>
    <div>
        <span>{% trans "Please enter your note below." %}</span>
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="submit" />
        </form>
    </div>
</div>
{% endblock %}


