{% load i18n %}

<div>
    {% trans "Currently organizing here" %}:
    <ul>
    {% for organizer in organizers %}
        {% if forloop.last %}<li class="last">{% else %}<li>{% endif %}
            <table>
                <tr>
                    <th>{% trans "name" %}</th>
                    <td>
                        <span>{{ organizer.name }}</span>
                    </td>
                </tr>
                <tr>
                    <th>{% trans "type" %}</th>
                    <td>
                        <span>{{ organizer.type }}</span>
                    </td>
                </tr>
                <tr>
                    <th>{% trans "site" %}</th>
                    <td>
                        <span>
                        {% if organizer.url %}
                        <a href="{{ organizer.url }}" target="_blank">{{ organizer.url }}</a>
                        {% endif %}
                        </span>
                    </td>
                </tr>
                <tr>
                    <th>{% trans "phone" %}</th>
                    <td>
                        <span>{{ organizer.phone|default:"" }}</span>
                    </td>
                </tr>
                <tr>
                    <th>{% trans "email" %}</th>
                    <td>
                        <span>
                        {% if organizer.email %}
                        <a href="mailto:{{ organizer.email }}" target="_blank">{{ organizer.email }}</a>
                        {% endif %}
                        </span>
                    </td>
                </tr>
                <tr>
                    <th>{% trans "notes" %}</th>
                    <td>
                        <span>{{ organizer.notes }}</span>
                    </td>
                </tr>
            </table>
        </li>
    {% empty %}
    No one yet.
    {% endfor %}
    </ul>
</div>
<div>
    <a class="add_organizer" href="#">{% trans "I'm organizing here!" %}</a>
</div>
