{% extends "base_with_sidebar.html" %}
{% load i18n %}

{% block title %}{{ block.super }} {% trans "Email All Organizers" %}{% endblock %}

{% block content_main %}
{{ block.super }}
<div id="lot-details">
    <h1>{% trans "Email All Organizers" %}</h1>
    <div>
        <span>{% trans "Please enter your email below." %}</span>
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="{% trans "submit" %}" />
        </form>
    </div>
</div>
{% endblock %}
