{% extends "base_with_sidebar.html" %}

{% block title %}{{ block.super }}: Review Lots{% endblock %}

{% block scripts %}
<script type="text/javascript">
    function init_lot_links() {
        $('.reviewable-lot').click(function() {
            $(this).addClass('reviewed');
            window.open('{{ OASIS_BASE_URL|safe }}' + $(this).attr('id'));
        });
    };

    $(document).ready(function() {
        init_lot_links();
    })    
</script>
{% endblock %}

{% block content_main %}
{{ block.super }}
<div id="lot-details">
    <h1>Review {{ borough }} Lots</h1>
    <span>There are {{ count }} lots in {{ borough }} left to review.</span>
    <div>
        <table class="reviewable-lots">
            <tr>
                <th>bbl</th>
                <th>sq ft</th>
                <th>use</th>
                <th>name</th>
                <th>agency</th>
            </tr>
            {% for lot in lots %}
            <tr>
                <td>
                    <a id="{{ lot.bbl }}" href="{% url lots.views.add_review bbl=lot.bbl %}" class="reviewable-lot" target="_blank">{{ lot.bbl }}</a>
                </td>
                <td align="right">
                    {{ lot.area|floatformat|default:"unknown" }}
                </td>
                <td>
                    {{ lot.extendeddetails.rpad_description }} : {{ lot.extendeddetails.primary_use }}
                </td>
                <td>
                    {{ lot.extendeddetails.parcel_name|default:"" }}
                </td>
                <td>
                    {{ lot.extendeddetails.jurisdiction_code }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
