{% extends "base_with_sidebar.html" %}

{% block title %}{{ block.super }}: Review Lots{% endblock %}

{% block scripts %}
<script type="text/javascript">
    function init_lot_links() {
        $('.reviewable-lot').click(function() {
            $(this).addClass('reviewed');
            window.open('{{ OASIS_BASE_URL}}' + $(this).attr('id'));

            var to_review = $('.reviewable-lot:not(".reviewed")').length;
            if (to_review < 5) {
                $('.reviewable-lots:last').after('<ul class="reviewable-lots"></ul>');
                $('.reviewable-lots:last').load("{% url fns_admin.views.get_lots_to_review %}?start=" + to_review, init_lot_links);
            }
        });
    };

    $(document).ready(function() {
        init_lot_links();
    })    
</script>
{% endblock %}

{% block content_main %}
{{ block.super }}
<div id="lot-details">
    <h1>Review Lots</h1>
    <span>There are {{ count }} lots left to review, including lots marked inaccessible for re-review. Here are a few:</span>
    <div>
        <ul class="reviewable-lots">
        {% include "fns_admin/review_lots_snippet.html" %}
        </ul>
    </div>
</div>
{% endblock %}




