{% extends "lots/base.html" %}
{% load i18n sekizai_tags thumbnail %}

{% block stylesheets %}
    {{ block.super }}
    {% addtoblock "css" %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}jquery-lightbox/css/jquery.lightbox-0.5.css" type="text/css" />
    {% endaddtoblock %}
{% endblock %}

{% block media %}
{{ block.super }}
{% addtoblock "js" %}
<script src="{{ MEDIA_URL }}jquery-lightbox/js/jquery.lightbox-0.5.min.js" type="text/javascript"></script>
{% endaddtoblock %}
{% endblock %}

{% block scripts %}
{{ block.super }}
{% addtoblock "js" %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.pictures a').lightBox({
            imageLoading: '{{ MEDIA_URL }}jquery-lightbox/images/lightbox-ico-loading.gif',   
            imageBtnClose: '{{ MEDIA_URL }}jquery-lightbox/images/lightbox-btn-close.gif',   
            imageBtnPrev: '{{ MEDIA_URL }}jquery-lightbox/images/lightbox-btn-prev.gif',   
            imageBtnNext: '{{ MEDIA_URL }}jquery-lightbox/images/lightbox-btn-next.gif',   
            imageBlank: '{{ MEDIA_URL }}jquery-lightbox/images/lightbox-blank.gif',   
        });

        $('.expander').click(function() {
            $(this).parent().find('.expandee').slideToggle();
            $(this).toggleClass('expanded');
        });
    });
</script>
{% endaddtoblock %}
{% endblock %}

{% block title %}{{ block.super }}: Details{% endblock %}

{% block inner_right %}
{% with title=lot.borough|add:", block "|add:lot.block|add:", lot "|add:lot.lot %}
{% include "share_box_snippet.html" %}
{% endwith %}
{% endblock %}

{% block content_main %}
{{ block.super }}
<div id="lot-details">
    <h1>{{ lot.borough }}, block {{ lot.block }}, lot {{ lot.lot }}</h1>

    {% if perms.lot.change_lot %}
    <a href="{% url admin:lots_lot_change lot.pk %}">edit this lot</a>
    {% endif %}

    {% if lot.group_has_access %}
    {% if photo_albums %}
    <div>
        <img src="{% thumbnail photo_albums.0.get_cover_photo.picture 375x375 crop %}" />
    </div>
    {% endif %}
    <h2>
        {% trans "A group has access to this lot!" %}
    </h2>
    <div>
        <p>
        {% blocktrans %}
            If you are part of the group and would like to receive updates from
            596 Acres (about things like free beehives, how to get mulch from 
            the city, and calls for support for existing community sites 
            throughout the network), please 
        {% endblocktrans %}
            <a href="{% url add_organizer bbl=lot.bbl %}">{% trans "become an organizer" %}</a>.
        </p>
        <a class="fns-button" href="{% url add_organizer bbl=lot.bbl %}" style="margin-left: 3px;">
            <img src="{{ MEDIA_URL }}img/users.png" />
            {% trans "organize" %}
        </a>
    </div>
    <div>
        <p>{% trans "Learn more about the group and get involved through" %}
            {% if lot.group_with_access.url %}
            <a href="{{ lot.group_with_access.url }}">{% trans "their homepage" %}</a>,
            {% endif %}
            {% if lot.group_with_access.facebook_page %}
            <a href="http://facebook.com/{{ lot.group_with_access.facebook_page }}">{% trans "their Facebook page" %}</a>,
            {% endif %}
            {% if lot.group_with_access.email %}
            {% trans "by" %} 
            <a href="mailto:{{ lot.group_with_access.email }}">{% trans "emailing them" %}</a>,
            {% endif %}
            {% trans "or walk by and say hi" %}!
        </p>

        <p>{% trans "In their words" %}:
            <blockquote>
                {{ lot.group_with_access.notes|urlize|linebreaks }}
            </blockquote>
        </p>

        {% if lot.group_with_access.facebook_page %}
        <iframe scrolling="no" frameborder="0" allowtransparency="true" style="border: none; overflow: hidden; width: 399px; height: 395px; padding-top: 10px;" src="http://www.facebook.com/plugins/likebox.php?href={{ "http://facebook.com/"|add:lot.group_with_access.facebook_page|urlencode:"" }}&amp;width=398&amp;colorscheme=light&amp;show_faces=true&amp;stream=true&amp;header=false&amp;height=395"></iframe>
        {% endif %}
    </div>
    {% endif %}

    {% if lot.is_vacant and not lot.group_has_access %}
    <div>
        <a class="fns-button" href="{% url organize.views.add_watcher bbl=lot.bbl %}">
            <img src="{{ MEDIA_URL }}img/star_fav_empty.png" />
            {% trans "watch" %}
        </a>
        <a class="fns-button" href="{% url add_organizer bbl=lot.bbl %}" style="margin-left: 3px;">
            <img src="{{ MEDIA_URL }}img/users.png" />
            {% trans "organize" %}
        </a>
        <div>
            There {{ watchers_count|pluralize:"is,are" }} 
            <span style="font-weight: bold;">{{ watchers_count }}</span>
            neighbor{{ watchers_count|pluralize }} watching this lot.
        </div>
    </div>
    {% endif %}

    {% if not lot.is_vacant %}
    <p style="font-weight: bold;">
        {% trans "This lot isn't vacant." %}
        {% if 'Garden' in lot.actual_use %}
        {% trans "It is part of a community garden." %}
        {% else %}
        {% trans "According to our research it is being used as a" %} {{ lot.actual_use }}. {% trans "Know anything more about it?" %} <a href="{% url organize.views.add_note bbl=lot.bbl %}">{% trans "Leave a note!" %}</a>
        {% endif %}
    </p>
    {% endif %}

    <div id="basics" class="section">
        <table>
            <tr>
                <th>{% trans "address" %}</th>
                <td>
                    <span>{{ lot.address|default:'' }}</span>
                </td>
            </tr>
            <tr>
                <th>{% trans "zipcode" %}</th>
                <td>
                    <span>{{ lot.zipcode|default:'' }}</span>
                </td>
            </tr>
            <tr>
                <th>{% trans "block" %}</th>
                <td>
                    <span>{{ lot.block|default:'' }}</span>
                </td>
            </tr>
            <tr>
                <th>{% trans "lot" %}</th>
                <td>
                    <span>{{ lot.lot|default:'' }}</span>
                </td>
            </tr>
            <tr>
                <th>{% trans "area" %}</th>
                <td>
                    <span>
                        {% if lot.area_acres %}
                        {{ lot.area_acres|floatformat:"-3" }} {% trans "acres" %}
                        {% else %}
                        {% trans "unknown" %}
                        {% endif %}
                    </span>
                </td>
            </tr>
            <tr>
                <th>{% trans "elsewhere" %}</th>
                <td class="links">
                    <p>
                        <a id="oasislink" target="_blank" href="{{ OASIS_BASE_URL }}{{ lot.bbl }}">{% trans "See this lot on OASIS" %}</a>, {% trans "a map that combines block and lot level information from a variety of government and community sources." %} 
                    </p>
                    <p>
                        For a tutorial on how to access information about this particular lot on OASIS, go <a href="http://www.oasisnyc.net/tutorial.aspx">here</a> and click on "How do I access information about locations on the map?"
                    </p>
                </td>
            </tr>
        </table>
    </div>

    {% if lot.group_has_access %}
    {% include "lots/pictures_details.html" %}
    {% endif %}

    <div id="owner" class="section">
        <h2><a name="agency">{% trans "agency" %}</a></h2>
        {% if lot.owner %}
            {% with owner=lot.owner owner_contact=lot.owner_contact %}
            {% include "lots/owner_details.html" %}
            {% endwith %}
        {% else %}
        {% trans "We don't know who owns this lot." %}
        {% endif %}
    </div>

    <div id="government" class="section">
        <h2><a name="government">{% trans "government" %}</a></h2>
        <p>
            {% trans "Check out" %} 
            <a id="democracymap-link" target="_blank" href="http://beta.democracymap.org/map/?t=0&a={{ lot.centroid.y }}%2C{{ lot.centroid.x }}">{% trans "democracy map" %}</a>,
            {% trans "which can help you find the elected officials for the area around this lot and when the next community board meeting will happen." %}</p>
    </div>

    <div id="organize" class="section">
        <h2 class="{% if lot.group_has_access %}expander{% endif %}">
            {% if lot.group_has_access %}
            <span class="icon"></span>
            {% endif %}
            <a name="organize">
                {% if not lot.group_has_access %}
                {% trans "organize" %}
                {% else %}
                {% trans "organizing history" %}
                {% endif %}
            </a>
        </h2>
        <div class="{% if lot.group_has_access %}expandee{% endif %}">
            {% if not lot.is_vacant %}
            {% comment %}TODO and actual_use starts with Garden!{% endcomment %}
                {% if 'Garden' in lot.actual_use %}
                <p>
                    {% trans "This lot is part of a community garden! It's already organized." %}
                </p>
                <p>
                    {% trans "If you would like to become a part of the garden, please drop by and introduce yourself." %}
                </p>
                {% else %}
                <p>
                    {% trans "This lot is in use, so there probably isn't much use in organizing here." %}
                </p>
                {% endif %}
            {% else %}
            <div>
                {% if not lot.group_has_access %}
                {% trans "Currently organizing here" %}:
                {% else %}
                {% trans "Organizers" %}:
                {% endif %}
                <ul>
                {% for organizer in organizers %}
                    <li class="organizer{% if forloop.last %} last{% endif %}">
                        <div class="actions">
                            <a class="edit" href="{% url organize.views.edit_organizer bbl=lot.bbl id=organizer.id %}">
                                <img title="edit this organizer" alt="edit this organizer" src="{{ MEDIA_URL }}img/doc_edit.png" />
                            </a>
                        </div>
                        <table>
                            <tr>
                                <th>{% trans "name" %}</th>
                                <td>
                                    <span>{{ organizer.name }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>{% trans "type" %}</th>
                                <td>
                                    <span>{{ organizer.type }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>{% trans "site" %}</th>
                                <td>
                                    <span>
                                    {% if organizer.url %}
                                    <a href="{{ organizer.url }}" target="_blank">{{ organizer.url }}</a>
                                    {% endif %}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th>{% trans "phone" %}</th>
                                <td>
                                    <span>{{ organizer.phone|default:"" }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>{% trans "email" %}</th>
                                <td>
                                    <span>
                                    {% if organizer.email %}
                                    <a href="mailto:{{ organizer.email }}" target="_blank">{{ organizer.email }}</a>
                                    {% endif %}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th>{% trans "notes" %}</th>
                                <td>
                                    <span>{{ organizer.notes|urlize|linebreaks }}</span>
                                </td>
                            </tr>
                        </table>
                        {% if organizer.facebook_page %}
                            <iframe scrolling="no" frameborder="0" allowtransparency="true" style="border: none; overflow: hidden; width: 299px; height: 395px; padding-left: 50px; padding-top: 10px;" src="http://www.facebook.com/plugins/likebox.php?href={{ "http://facebook.com/"|add:organizer.facebook_page|urlencode:"" }}&amp;width=298&amp;colorscheme=light&amp;show_faces=true&amp;stream=true&amp;header=false&amp;height=395"></iframe>
                        {% endif %}
                    </li>
                {% empty %}
                {% trans "No one yet" %}.
                {% endfor %}
                </ul>
            </div>
                {% if not lot.group_has_access %}
                <div>
                    <a class="fns-button" href="{% url add_organizer bbl=lot.bbl %}"><img src="{{ MEDIA_URL }}img/users.png" />
                        &nbsp;{% trans "organize in this lot" %}
                    </a>
                </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div id="notes" class="section">
        <h2 class="{% if lot.group_has_access %}expander{% endif %}">
            {% if lot.group_has_access %}
            <span class="icon"></span>
            {% endif %}
            <a name="notes">{% trans "notes" %}</a>
        </h2>
        <div class="{% if lot.group_has_access %}expandee{% endif %}">
            <ul class="notes">
            {% for note in notes %}
                <li class="note {% cycle "odd" "even" %}">
                <span class="head">
                    {% blocktrans with day=note.added|date:"F d, Y" timeofday=note.added|time:"g:ia" noter=note.noter %}
                    On {{ day }}, at {{ timeofday }}, {{ noter }} said:
                    {% endblocktrans %}
                </span>
                {{ note.text|urlize|linebreaks }}
                </li>
            {% endfor %}
            </ul>
            <a class="fns-button" href="{% url organize.views.add_note bbl=lot.bbl %}"><img src="{{ MEDIA_URL }}img/spechbubble_16.png" />
                &nbsp;{% trans "add a note" %}
            </a>
        </div>
    </div>

    {% if not lot.group_has_access %}
    {% include "lots/pictures_details.html" %}
    {% endif %}
</div>
{% endblock %}
