{% load i18n %}

<div id="notes" class="section">
    <h2>
        <a name="notes">{% trans "notes" %}</a>
    </h2>
    <div>
        <ul class="notes">
        {% for note in notes %}
            {% if note.is_approved %}
                <li id="note-{{ note.pk }}" class="note {% cycle "odd" "even" %}">
                    <span class="head">
                        {% blocktrans with day=note.added|date:"F d, Y" timeofday=note.added|time:"g:ia" noter=note.noter %}
                        On {{ day }}, at {{ timeofday }}, {{ noter }} said:
                        {% endblocktrans %}
                    </span>
                    {{ note.text|urlize|linebreaks }}
                </li>
            {% endif %}
        {% endfor %}
        </ul>
        <a class="fns-button" href="{% url organize.views.add_note bbl=lot.bbl %}"><img src="{{ MEDIA_URL }}img/spechbubble_16.png" />
            &nbsp;{% trans "add a note" %}
        </a>
    </div>
</div>
