{% load i18n %}
<table>
    <tr>
        <th>{% trans "name" %}</th>
        <td>
            <span>{{ owner.name|default:'' }}</span>
        </td>
    </tr>
    {% if not lot.group_has_access %}
    <tr>
        <th>{% trans "contact" %}</th>
        <td>
            <span>
                {% if owner_contact %}
                {{ owner_contact.name|default:'' }}
                {% else %}
                {{ owner.person|default:'' }}
                {% endif %}
            </span>
        </td>
    </tr>
    <tr>
        <th>{% trans "phone" %}</th>
        <td>
            <span>
                {% if owner_contact %}
                {{ owner_contact.phone|default:'' }}
                {% else %}
                {{ owner.phone|default:'' }}
                {% endif %}
            </span>
        </td>
    </tr>
    <tr>
        <th>{% trans "email" %}</th>
        <td>
            {% if owner_contact %}
                {% if owner_contact.email %}
                <a target="_blank" href="mailto:{{ owner_contact.email }}">{{ owner_contact.email }}</a>
                {% endif %}
            {% else %}
                {% if owner.email %}
                <a target="_blank" href="mailto:{{ owner.email }}">{{ owner.email }}</a>
                {% endif %}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{% trans "site" %}</th>
        <td class="site">
            {% if owner.site %}
            <a target="_blank" href="{{ owner.site }}">{{ owner.site }}</a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{% trans "notes" %}</th>
        <td>
            <p>
            {% if owner_contact %}
                {{ owner_contact.notes|urlize|linebreaks|default:"" }}
            {% else %}
                {{ owner.notes|urlize|linebreaks|default:"" }}
            {% endif %}
            </p>
            {% if owner.name == "Housing Preservation and Development" %}
            <p>
            You can <a href="http://a810-bisweb.nyc.gov/bisweb/my_community.jsp" target="_blank">check online</a> to see if there are any open Requests for Proposals (RFPs) for this lot.
            </p>
            {% endif %}
        </td>
    </tr>
    {% endif %}
</table>
<p>
    {% blocktrans %}
    If you are interested in starting a community garden at this site, please
    contact <a href="http://www.greenthumbnyc.org/">GreenThumb</a>. Their 
    number is (212) 788-8070.
    {% endblocktrans %}
</p>
