{% load i18n lot_filters %}

{% if is_mobile %}
<div class="lot-link-container">
    <h1>
        {{ lot.borough }}:<br />
        {% trans "block" %} {{ lot.block }}, {% trans "lot" %} {{ lot.lot }}
    </h1>

    <a href="{% url lots.views.details bbl=lot.bbl %}" target="_blank" style="font-weight: bold;">
        {% trans "This lot's page" %}
    </a>
    {% trans "has more information" %}.

    {% if organizers %}
    {% trans "Neighbors are working on turning this lot into a community-determined green space" %}. 
    <a href="{% url lots.views.details bbl=lot.bbl %}" target="_blank" style="font-weight: bold;">
        {% trans "Learn more and get involved" %}.
    </a>
    {% endif %}
</div>

<div id="lot">
    {% if not lot.is_vacant %}
    <p style="font-weight: bold;">
        {% trans "This lot isn't vacant" %}.
        {% if 'Garden' in lot.actual_use %}
        {% trans "It is part of a community garden" %}.
        {% endif %}
    </p>
    {% endif %}
    <table>
        <tr>
            <th>{% trans "address" %}</th>
            <td>
                <span>{{ lot.address|default:'' }}</span>
            </td>
        </tr>
        <tr>
            <th>{% trans "zipcode" %}</th>
            <td>
                <span>{{ lot.zipcode|default:'' }}</span>
            </td>
        </tr>
        <tr class="owner">
            <th>{% trans "agency" %}</th>
            <td>
                <span>
                    {% if lot.owner %}
                    {{ lot.owner.name|default:'' }}
                    {% else %}
                    we don't know
                    {% endif %}
                </span>
            </td>
        </tr>
        <tr>
            <th>{% trans "area" %}</th>
            <td>
                <span>
                    {% if lot.area_acres %}
                    {{ lot.area_acres|floatformat:"-3" }} {% trans "acres" %}
                    {% else %}
                    {% trans "unknown" %}
                    {% endif %}
                </span>
            </td>
        </tr>
    </table>

    <div style="margin-top: 5px;">
        <a class="fns-button" href="{% url organize.views.add_watcher bbl=lot.bbl %}" target="_blank"><img src="{{ MEDIA_URL }}img/star_fav_empty.png" /> 
            {% trans "watch" %}
        </a>
        <a class="fns-button" href="{% url add_organizer bbl=lot.bbl %}" style="margin-left: 3px;" target="_blank"><img src="{{ MEDIA_URL }}img/users.png" /> 
            {% trans "organize" %}
        </a>
    </div>
</div>

{% else %}

<div class="lot-link-container">
    <h1>
        {{ lot|lotname:"group" }}
        <a class="fns-button" href="{% url organize.views.add_watcher bbl=lot.bbl %}" target="_blank"><img src="{{ MEDIA_URL }}img/star_fav_empty.png" />
            {% trans "watch" %}
        </a>
    </h1>

    <a href="{% url lots.views.details bbl=lot.bbl %}" target="_blank" style="font-weight: bold;">
        {% trans "This lot's page" %}
    </a>
    {% trans "has more information" %}.

    {% if organizers %}
        {% trans "Neighbors are working on turning this lot into a community-determined green space." %} 
        <a href="#" style="font-weight: bold;" class="organize-link" target="_blank">
            {% trans "Learn more and get involved." %}
        </a>
    {% endif %}
</div>

<div class="minimal-tabs tabs">
    <ul>
        <li><a href="#lot"><img src="{{ MEDIA_URL }}img/tabs_lot.png" /></a></li>
        <li><a href="#owner"><img src="{{ MEDIA_URL }}img/tabs_agency.png" /></a></li>
        <li><a href="#organize"><img src="{{ MEDIA_URL }}img/tabs_organize.png" /></a></li>
    </ul>
    <div id="lot">
        {% if not lot.is_vacant %}
        <p style="font-weight: bold;">
            {% trans "This lot isn't vacant" %}.
            {% if 'Garden' in lot.actual_use %}
            {% trans "It is part of a community garden" %}.
            {% endif %}
        </p>
        {% endif %}

        {% if lot.children.count > 0 %}
        <p>
            {% blocktrans with lots_count=lot.lots|length lot_link=lot.get_absolute_url area=lot|lot_acres_sum|floatformat:"3" %}
            There are <span style="font-weight: bold;">{{ lots_count }}</span> adjacent lots at this point with a total area of <span style="font-weight: bold;">{{ area }} acres</span>. Please go to <a href="{{ lot_link }}" target="_blank">their page</a> to learn the details for each.
            {% endblocktrans %}
        </p>
        {% else %}
        <table>
            <tr>
                <th>{% trans "address" %}</th>
                <td>
                    <span>{{ lot.address|default:'' }}</span>
                </td>
            </tr>
            <tr>
                <th>{% trans "zipcode" %}</th>
                <td>
                    <span>{{ lot.zipcode|default:'' }}</span>
                </td>
            </tr>
            <tr>
                <th>{% trans "block" %}</th>
                <td>
                    <span>{{ lot.block|default:'' }}</span>
                </td>
            </tr>
            <tr>
                <th>{% trans "lot" %}</th>
                <td>
                    <span>{{ lot.lot|default:'' }}</span>
                </td>
            </tr>
            <tr class="owner">
                <th>{% trans "agency" %}</th>
                <td>
                    <span>
                        {% if lot.owner %}
                        <a href="">{{ lot.owner.name|default:'' }}</a>
                        {% else %}
                        {% trans "we don't know" %}
                        {% endif %}
                    </span>
                </td>
            </tr>
            <tr>
                <th>{% trans "area" %}</th>
                <td>
                    <span>
                        {% if lot.area_acres %}
                        {{ lot.area_acres|floatformat:"-3" }} {% trans "acres" %}
                        {% else %}
                        {% trans "unknown" %}
                        {% endif %}
                    </span>
                </td>
            </tr>
            <tr>
                <th>{% trans "elsewhere" %}</th>
                <td class="links">
                    <a id="oasislink" target="_blank" href="{{ OASIS_BASE_URL }}{{ lot.bbl }}">
                        {% trans "See this lot on OASIS" %}
                    </a>, 
                    {% trans "a map that combines block and lot level information from a variety of government and community sources" %}.

                    {% if 'Garden' in lot.actual_use %}
                    <br /> <br />
                    {% trans "Check out" %} 
                    <a id="gardenmapslink" target="_blank" href="http://www.gardenmaps.org">Garden Maps</a>
                    {% trans "for more detailed maps of New York City's community gardens" %}.
                    {% endif %}
                </td>
            </tr>
        </table>
        {% endif %}
    </div>

    <div id="owner">
        {% if lot.children.count > 0 %}
        <p>
            {% blocktrans with lots_count=lot.lots|length lot_link=lot.get_absolute_url %}
            There are <span style="font-weight: bold;">{{ lots_count }}</span> adjacent lots at this point. Please go to <a href="{{ lot_link }}" target="_blank">their page</a> to learn the city agency with control for each.
            {% endblocktrans %}
        </p>
        {% else %}
            {% if lot.owner %}
                {% with owner=lot.owner owner_contact=lot.owner_contact %}
                {% include "lots/owner_details.html" %}
                {% endwith %}
            {% else %}
            {% trans "We don't know who owns this lot" %}.
            {% endif %}
        {% endif %}
    </div>

    <div id="organize">
        {% if not lot.is_vacant %}
        <p>
        {% trans "This lot is part of a community garden! It's already organized." %}
        </p>
        <p>
        {% trans "If you would like to become a part of the garden, please drop by and introduce yourself." %}
        </p>
        {% else %}
        <div>
            <a class="fns-button" href="{% url organize.views.add_watcher bbl=lot.bbl %}" target="_blank">
                <img src="{{ MEDIA_URL }}img/star_fav_empty.png" /> 
                {% trans "watch" %}
            </a>
            <a class="fns-button" href="{% url add_organizer bbl=lot.bbl %}" style="margin-left: 3px;" target="_blank">
                <img src="{{ MEDIA_URL }}img/users.png" /> 
                {% trans "organize" %}
            </a>
            <div>There {{ watchers_count|pluralize:"is,are" }} <span style="font-weight: bold;">{{ watchers_count }}</span> neighbor{{ watchers_count|pluralize }} watching this lot.</div>
        </div>
        <div>
            {% trans "Currently organizing here" %}:
            <ul>
            {% for organizer in organizers %}
                <li class="organizer{% if forloop.last %} last{% endif %}">
                    <div class="actions">
                        <a class="edit" href="{% url organize.views.edit_organizer bbl=lot.bbl id=organizer.id %}" target="_blank">
                            <img title="edit this organizer" alt="edit this organizer" src="{{ MEDIA_URL }}img/doc_edit.png" />
                        </a>
                    </div>
                    <table>
                        <tr>
                            <th>{% trans "name" %}</th>
                            <td>
                                <span>{{ organizer.name }}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>{% trans "type" %}</th>
                            <td>
                                <span>{{ organizer.type }}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>{% trans "site" %}</th>
                            <td>
                                <span>
                                {% if organizer.url %}
                                <a href="{{ organizer.url }}" target="_blank">{{ organizer.url }}</a>
                                {% endif %}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th>{% trans "phone" %}</th>
                            <td>
                                <span>{{ organizer.phone|default:"" }}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>{% trans "email" %}</th>
                            <td>
                                <span>
                                {% if organizer.email %}
                                <a href="mailto:{{ organizer.email }}" target="_blank">{{ organizer.email }}</a>
                                {% endif %}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th>{% trans "notes" %}</th>
                            <td>
                                <span>{{ organizer.notes|urlize|linebreaks }}</span>
                            </td>
                        </tr>
                    </table>
                </li>
            {% empty %}
            {% trans "No one yet" %}.
            {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% endif %}
