<!doctype html>
<body>
<div>
    <div class="tabs">
        <ul>
            <li><a href="#lot"><img src="{{ MEDIA_URL }}img/tabs_lot.png" /></a></li>
            <li><a href="#owner"><img src="{{ MEDIA_URL }}img/tabs_agency.png" /></a></li>
            <li><a href="#organize"><img src="{{ MEDIA_URL }}img/tabs_organize.png" /></a></li>
        </ul>
        <div id="lot">
            <table>
                <tr>
                    <th>address</th>
                    <td>
                        <span>{{ lot.address|default:'' }}</span>
                    </td>
                </tr>
                <tr>
                    <th>zipcode</th>
                    <td>
                        <span>{{ lot.zipcode|default:'' }}</span>
                    </td>
                </tr>
                <tr>
                    <th>block</th>
                    <td>
                        <span>{{ lot.block|default:'' }}</span>
                    </td>
                </tr>
                <tr>
                    <th>lot</th>
                    <td>
                        <span>{{ lot.lot|default:'' }}</span>
                    </td>
                </tr>
                <tr class="owner">
                    <th>agency</th>
                    <td>
                        <span>
                            {% if lot.owner %}
                            {{ lot.owner.name|default:'' }} (<a href="">details</a>)
                            {% else %}
                            we don't know
                            {% endif %}
                        </span>
                    </td>
                </tr>
                <tr>
                    <th>area</th>
                    <td>
                        <span>
                            {% if lot.area %}
                                {{ lot.area|floatformat }} square feet
                            {% else %}
                                unknown
                            {% endif %}
                        </span>
                    </td>
                </tr>
                <tr>
                    <th>elsewhere</th>
                    <td class="links">
                        <a id="oasislink" target="_blank" href="http://www.oasisnyc.net/map.aspx?zoomto=lot:{{ lot.bbl }}">OASIS</a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="owner">
            {% if lot.owner %}
            <table>
                <tr>
                    <th>name</th>
                    <td>
                        <span>{{ lot.owner.name|default:'' }}</span>
                    </td>
                </tr>
                <tr>
                    <th>contact</th>
                    <td>
                        <span>{{ lot.owner.person|default:'' }}</span>
                    </td>
                </tr>
                <tr>
                    <th>phone</th>
                    <td>
                        <span>{{ lot.owner.phone|default:'' }}</span>
                    </td>
                </tr>
                <tr>
                    <th>email</th>
                    <td>
                        {% if lot.owner.email %}
                        <a target="_blank" href="mailto:{{ lot.owner.email }}">{{ lot.owner.email }}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>site</th>
                    <td class="site">
                        {% if lot.owner.site %}
                        {{ lot.owner.site|urlizetrunc:"40" }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>notes</th>
                    <td>
                        {{ lot.owner.notes|default:"" }}
                    </td>
                </tr>
            </table>
            {% else %}
            We don't know who owns this lot.
            {% endif %}
        </div>
        <div id="organize">
            <div>
                Currently organizing here:
                <ul>
                {% for organizer in organizers %}
                    {% if forloop.last %}<li class="last">{% else %}<li>{% endif %}
                        <table>
                            <tr>
                                <th>name</th>
                                <td>
                                    <span>{{ organizer.name }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>type</th>
                                <td>
                                    <span>{{ organizer.type }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>site</th>
                                <td>
                                    <span>
                                    {% if organizer.url %}
                                    <a href="{{ organizer.url }}" target="_blank">{{ organizer.url }}</a>
                                    {% endif %}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th>phone</th>
                                <td>
                                    <span>{{ organizer.phone|default:"" }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>email</th>
                                <td>
                                    <span>
                                    {% if organizer.email %}
                                    <a href="mailto:{{ organizer.email }}" target="_blank">{{ organizer.email }}</a>
                                    {% endif %}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th>notes</th>
                                <td>
                                    <span>{{ organizer.notes }}</span>
                                </td>
                            </tr>
                        </table>
                    </li>
                {% empty %}
                No one yet.
                {% endfor %}
                </ul>
            </div>
            <div>
                <a class="add_organizer" href="#">I'm organizing here!</a>
            </div>
        </div>
    </div>

    <div id="lot-link-container" style="position: absolute; bottom: 0;">
        <a href="{% url lots.views.details bbl=lot.bbl %}" target="_blank">link to {{ lot.borough }}, block {{ lot.block }}, lot {{ lot.lot }}</a>
    </div>
</div>
<body>
</html>

