{% load thumbnail %}

<h1>{{ lot.borough }}: block {{ lot.block }}, lot {{ lot.lot }}</h1>

<div>
    <img src="{% thumbnail photo.picture 150x150 crop %}" />
</div>

<h2>A group has access to this lot!</h2>

<p>Learn more about the group and get involved through
    {% if lot.group_with_access.url %}
    <a href="{{ lot.group_with_access.url }}">their homepage</a>,
    {% endif %}

    {% if lot.group_with_access.facebook_page %}
    <a href="http://facebook.com/{{ lot.group_with_access.facebook_page }}">their Facebook page</a>,
    {% endif %}

    {% if lot.group_with_access.email %}
    by <a href="mailto:{{ lot.group_with_access.email }}">emailing them</a>,
    {% endif %}

    or walk by and say hi!
</p>

<p>
    There is also more information about this lot on <a href="{% url lots.views.details bbl=lot.bbl %}" target="_blank">its page</a>.
</p>
