<!doctype html>
<body>
<div class="lot-popup">

    <div class="lot-link-container">
        <h1>{{ lot.borough }} block {{ lot.block }}, lot {{ lot.lot }}</h1>
        <a href="{% url lots.views.details bbl=lot.bbl %}" target="_blank">Go to this lot's page</a> or look at the information we have for it in the tabs below.
    </div>

    <div class="tabs">
        <ul>
            <li><a href="#lot"><img src="{{ MEDIA_URL }}img/tabs_lot.png" /></a></li>
            <li><a href="#owner"><img src="{{ MEDIA_URL }}img/tabs_agency.png" /></a></li>
            <li><a href="#organize"><img src="{{ MEDIA_URL }}img/tabs_organize.png" /></a></li>
        </ul>
        <div id="lot">
            {% if not lot.is_vacant %}
            <p style="font-weight: bold;">
                This lot isn't vacant.
                {% if 'Garden' in lot.actual_use %}
                It is part of a community garden.
                {% endif %}
            </p>
            {% endif %}
            <table>
                <tr>
                    <th>address</th>
                    <td>
                        <span>{{ lot.address|default:'' }}</span>
                    </td>
                </tr>
                <tr>
                    <th>zipcode</th>
                    <td>
                        <span>{{ lot.zipcode|default:'' }}</span>
                    </td>
                </tr>
                <tr>
                    <th>block</th>
                    <td>
                        <span>{{ lot.block|default:'' }}</span>
                    </td>
                </tr>
                <tr>
                    <th>lot</th>
                    <td>
                        <span>{{ lot.lot|default:'' }}</span>
                    </td>
                </tr>
                <tr class="owner">
                    <th>agency</th>
                    <td>
                        <span>
                            {% if lot.owner %}
                            {{ lot.owner.name|default:'' }} (<a href="">details</a>)
                            {% else %}
                            we don't know
                            {% endif %}
                        </span>
                    </td>
                </tr>
                <tr>
                    <th>area</th>
                    <td>
                        <span>
                            {% if lot.area_acres %}
                                {{ lot.area_acres|floatformat:"-3" }} acres
                            {% else %}
                                unknown
                            {% endif %}
                        </span>
                    </td>
                </tr>
                <tr>
                    <th>elsewhere</th>
                    <td class="links">
                        <a id="oasislink" target="_blank" href="http://www.oasisnyc.net/map.aspx?zoomto=lot:{{ lot.bbl }}">See this lot on OASIS</a>, a map that combines block and lot level information from a variety of government and community sources.
                    </td>
                </tr>
            </table>
        </div>
        <div id="owner">
            {% if lot.owner %}
            <table>
                <tr>
                    <th>name</th>
                    <td>
                        <span>{{ lot.owner.name|default:'' }}</span>
                    </td>
                </tr>
                <tr>
                    <th>contact</th>
                    <td>
                        <span>{{ lot.owner.person|default:'' }}</span>
                    </td>
                </tr>
                <tr>
                    <th>phone</th>
                    <td>
                        <span>{{ lot.owner.phone|default:'' }}</span>
                    </td>
                </tr>
                <tr>
                    <th>email</th>
                    <td>
                        {% if lot.owner.email %}
                        <a target="_blank" href="mailto:{{ lot.owner.email }}">{{ lot.owner.email }}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>site</th>
                    <td class="site">
                        {% if lot.owner.site %}
                        <a target="_blank" href="{{ lot.owner.site }}">{{ lot.owner.site }}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>notes</th>
                    <td>
                        {{ lot.owner.notes|default:"" }}
                    </td>
                </tr>
            </table>
            {% else %}
            We don't know who owns this lot.
            {% endif %}
        </div>
        <div id="organize">
            {% if not lot.is_vacant %}
            <p>This lot is part of a community garden! It's already organized.</p>
            <p>If you would like to become a part of the garden, please drop by and introduce yourself.</p>
            {% else %}
            <div>
                Currently organizing here:
                <ul>
                {% for organizer in organizers %}
                    <li class="organizer{% if forloop.last %} last{% endif %}">
                        <div class="actions">
                            <a class="edit" href="{% url organize.views.edit_organizer bbl=lot.bbl id=organizer.id %}" target="_blank">
                                <img title="edit this organizer" alt="edit this organizer" src="{{ MEDIA_URL }}img/doc_edit.png" />
                            </a>
                        </div>
                        <table>
                            <tr>
                                <th>name</th>
                                <td>
                                    <span>{{ organizer.name }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>type</th>
                                <td>
                                    <span>{{ organizer.type }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>site</th>
                                <td>
                                    <span>
                                    {% if organizer.url %}
                                    <a href="{{ organizer.url }}" target="_blank">{{ organizer.url }}</a>
                                    {% endif %}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th>phone</th>
                                <td>
                                    <span>{{ organizer.phone|default:"" }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th>email</th>
                                <td>
                                    <span>
                                    {% if organizer.email %}
                                    <a href="mailto:{{ organizer.email }}" target="_blank">{{ organizer.email }}</a>
                                    {% endif %}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th>notes</th>
                                <td>
                                    <span>{{ organizer.notes }}</span>
                                </td>
                            </tr>
                        </table>
                    </li>
                {% empty %}
                No one yet.
                {% endfor %}
                </ul>
            </div>
            <div>
                <a class="add_organizer" href="{% url organize.views.add_organizer bbl=lot.bbl %}" target="_blank">I'm organizing here!</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<body>
</html>

