{% load i18n thumbnail %}

<h1>{{ lot.borough }}: block {{ lot.block }}, lot {{ lot.lot }}</h1>

<div>
    <img src="{% thumbnail photo.picture 150x150 crop %}" />
</div>

<h2>{% trans "A group has access to this lot" %}!</h2>

<p>{% trans "Learn more about the group and get involved through" %}
    {% if lot.group_with_access.url %}
    <a href="{{ lot.group_with_access.url }}">{% trans "their homepage" %}</a>,
    {% endif %}

    {% if lot.group_with_access.facebook_page %}
    <a href="http://facebook.com/{{ lot.group_with_access.facebook_page }}">
        {% trans "their Facebook page" %}
    </a>,
    {% endif %}

    {% if lot.group_with_access.email %}
    <a href="mailto:{{ lot.group_with_access.email }}">
        {% trans "by emailing them" %}
    </a>,
    {% endif %}

    {% trans "or walk by and say hi" %}!
</p>

<p>
    {% trans "There is also more information about this lot on" %} 
    <a href="{% url lots.views.details bbl=lot.bbl %}" target="_blank">
        {% trans "its page" %}
    </a>.
</p>
