{% load i18n placeholder_tags cmsplugin_blog_tags simple_translation_tags %}

{% with entry|get_preferred_translation_from_request:request as title %}
<h2 class="title">
    <a href="{{ title.get_absolute_url }}">Recent News from the Acres</a>
</h2>
{% endwith %}

{% with entry.placeholders|choose_placeholder:"main" as main %}
    {{ main.get_plugins.0.text.body|striptags|truncatewords:"50"|cut:"GREEN WARRIORS UNITED"|cut:"Is this email not displaying correctly?View it in your browser."|safe }}
    <a href="{{ title.get_absolute_url }}">read the rest</a>
{% endwith %}
