<div class="section">
    <h2>Recent Activities</h2>
    <div class="activity-stream">
        <div class="activity-stream-filters">
            <input id="show_visible_only" name="show_visible_only" type="checkbox" />
            <label for="show_visible_only">
                only show activities for lots on the section of the map I'm looking at
            </label>
        </div>
        <div class="activity-stream-container"></div>
        <div class="activity-stream-nav" style="display: none;">
            <a href="/activity-stream/">next page</a>
        </div>
    </div>
</div>
