{% extends "base_with_sidebar.html" %}
{% load cms_tags i18n %}

{% block title %}{% trans "News" %}{% endblock %}

{% block content_main %}
    <div class="blog">
        <div class="leftcol">
        {% block left-col%}{% endblock %}
        </div>
        <div style="clear: both;"></div>
    </div>
{% endblock %}

{% block sidebar %}
<div id="sidebar">
    {% placeholder "sidebar" or %}
    {% show_placeholder "sidebar" "base_sidebar" %}
    {% endplaceholder %}
    <div class="blog sidebar">
        {% block right-col%}{% endblock %}
    </div>
</div>
{% endblock %}
