{% extends "base_with_sidebar.html" %}
{% load cache cms_tags %}

{% block title %}News{% endblock %}

{% block content_main %}
    <div class="blog">
        <div class="leftcol">
        {% block left-col%}{% endblock %}
        </div>
        <div style="clear: both;"></div>
    </div>
{% endblock %}

{% block sidebar %}
<div id="sidebar">
{% cache 21600 sidebar LANGUAGE_CODE %}
    {% placeholder "sidebar" or %}
    {% show_placeholder "sidebar" "base_sidebar" %}
    {% endplaceholder %}
{% endcache %}
{% cache 21600 blog_sidebar LANGUAGE_CODE %}
    <div class="blog sidebar">
        {% block right-col%}{% endblock %}
    </div>
{% endcache %}
</div>
{% endblock %}
