{% extends "cmsplugin_blog/cmsplugin_blog_base.html" %}

{% load i18n cmsplugin_blog_tags %}

{% block left-col %}

<h1>{% trans "Entries for" %} {{ year }}</h1>
<ul>
    {% for date in date_list %}
        <li><a href="{% url blog_archive_month year=year month=date|date:'m'  %}">{{ date|date:"F" }}</a></li>
    {% empty %}
        <li>{% trans "No entries for this year" %}</li>
    {% endfor %}
</ul>

{% endblock %}



{% block right-col %}

{% render_month_links %}

{% render_tag_links %}

{% endblock %}
