{% load i18n placeholder_tags cmsplugin_blog_tags simple_translation_tags %}

{% for entry in entries|annotate_with_translations %}
<div class="entry{% if forloop.last %} last{% endif %}">
    {% with entry|get_preferred_translation_from_request:request as title %}
    <h2 class="title"><a href="{{ title.get_absolute_url }}">{{ title }}</a></h2>
	{% endwith %}

    <div class="meta">
        <div class="date"><span>{{ entry.pub_date|date:"d F Y" }}</span></div>

        {% if entry.entry_tags %}
        <div class="tags">
            tags: 
            {% for tag in entry.entry_tags %}
            <a href="{% url blog_archive_tagged_paginated tag=tag.name %}">{{ tag.name }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="text">
    {% with entry.placeholders|choose_placeholder:"main" as main %}
        {% render_placeholder main %}
    {% endwith %}
    </div>
</div>
{% empty %}
	<p>{% trans "No news" %}<p>
{% endfor %}
