{% extends "cmsplugin_blog/cmsplugin_blog_base.html" %}

{% load i18n placeholder_tags cmsplugin_blog_tags simple_translation_tags %}

{% block title %}
{% with title=object|get_preferred_translation_from_request:request %}
{% trans "News" %}: {{ title }}
{% endwith %}
{% endblock %}

{% block left-col %}

{% with title=object|get_preferred_translation_from_request:request %}
<h1>{{ title }}</h1>
{% endwith %}

{% if perms.cmsplugin_blog.change_entry %}
<a href="{% url admin:cmsplugin_blog_entry_change object.pk %}">edit this entry</a>
{% endif %}

<p class="date"><span>{{ object.pub_date|date:"F d, Y" }}</span></p>

{% with object.placeholders|choose_placeholder:"main" as main %}
    {% render_placeholder main %}
{% endwith %}

{% endblock %}

{% block right-col %}
{% with title=object|get_preferred_translation_from_request:request %}
{% include "cmsplugin_blog/right_col_snippet.html" %}
{% endwith %}
{% endblock %}
