{% load i18n simple_translation_tags %} 

<div class="blog recent-entries">
    <h2>Recent news</h2>
    <ul>
{% for entry in latest|annotate_with_translations %}
        <li class="entry">
            {% with entry|get_preferred_translation_from_request:request as title %}
            <h3 class="title"><a href="{{ title.get_absolute_url }}">{{ title }}</a></h3>
            {% endwith %}              

            <div class="meta">
                <div class="date">{{ entry.pub_date|date:"F d Y" }}</div>

                {% if entry.entry_tags %}
                <div class="tags">
                    tags: 
                    {% for tag in entry.entry_tags %}
                    <a href="{% url blog_archive_tagged tag=tag.name %}">{{ tag.name }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </li>
{% empty %}
        <li>
            <p>{% trans "No news" %}<p> 
        </li>
{% endfor %}                   
    </ul>
</div>
