{% load i18n placeholder_tags cmsplugin_blog_tags simple_translation_tags %} 

<div class="section blog recent-entries">
    <h2>Recent news</h2>
    <ul>
{% for entry in latest|annotate_with_translations %}
        <li class="entry{% if forloop.last %} last{% endif %}">
            {% with entry|get_preferred_translation_from_request:request as title %}
            <h3 class="title"><a href="{{ title.get_absolute_url }}">{{ title }}</a></h3>

            <div class="meta">
                <span class="date">{{ entry.pub_date|date:"F d, Y" }}</span>
                {% if entry.entry_tags %}
                <span class="tags">
                    in 
                    {% for tag in entry.entry_tags %}
                    <a href="{% url blog_archive_tagged tag=tag.name %}">{{ tag.name }}</a>
                    {% endfor %}
                </span>
                {% endif %}
            </div>
            {% endwith %}              
        </li>
{% empty %}
        <li>
            <p>{% trans "No news" %}<p> 
        </li>
{% endfor %}                   
    </ul>
</div>
