{% load i18n simple_translation_tags %} 

<div class="blog recent-entries">
    <h2>Recent news</h2>
    <ul>
{% for object in latest|annotate_with_translations %}
        <li class="entry">
            {% with object|get_preferred_translation_from_request:request as title %}
            <h3 class="title"><a href="{{ title.get_absolute_url }}">{{ title }}</a></h3>
            {% endwith %}              

            <p class="date">{{ object.pub_date|date:"F d Y" }}</p>
        </li>
{% empty %}
        <li>
            <p>{% trans "No news" %}<p> 
        </li>
{% endfor %}                   
    </ul>
</div>
