{% extends "base_with_sidebar.html" %}
{% load compress %}

{% block title %}{{ block.super }}Photos: {% endblock %}

{% block breadcrumbs %}
<div id="breadcrumbs">
    <ul>
        <li><a href="/">Home</a> &raquo;</li>
        <li><a href="{% url photos_photoalbum_list %}">Photos</a> &raquo;</li>
        {% block page_breadcrumb %}{% endblock %}
    </ul>
</div>
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    {% compress css %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}jquery-lightbox/css/jquery.lightbox-0.5.css" type="text/css" />
    {% endcompress %}
{% endblock %}

{% block media %}
    {{ block.super }}
    {% compress js %}
    <script src="{{ MEDIA_URL }}jquery-lightbox/js/jquery.lightbox-0.5.min.js" type="text/javascript"></script>
    {% endcompress %}
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function() {
        $('.pictures a').lightBox({
            imageLoading: '{{ MEDIA_URL }}jquery-lightbox/images/lightbox-ico-loading.gif',   
            imageBtnClose: '{{ MEDIA_URL }}jquery-lightbox/images/lightbox-btn-close.gif',   
            imageBtnPrev: '{{ MEDIA_URL }}jquery-lightbox/images/lightbox-btn-prev.gif',   
            imageBtnNext: '{{ MEDIA_URL }}jquery-lightbox/images/lightbox-btn-next.gif',   
            imageBlank: '{{ MEDIA_URL }}jquery-lightbox/images/lightbox-blank.gif',   
        });
    });
</script>
{% endblock %}
