{% extends "photos/base.html" %}
{% load thumbnail %}

{% block title %}{{ block.super }}{% endblock %}

{% block page_breadcrumb %}
<li>Albums</li>
{% endblock %}

{% block content_main %}
<h1>Photos</h1>

<ul class="albums">
    {% for album in object_list %}
    <li class="album">
        <a href="{% url photos_photoalbum_detail pk=album.pk %}">
            {% if album.cover.picture %}
                {% thumbnail album.cover.picture "150x150" crop="center" as thumb %}
                <img src="{{ thumb.url }}" />
                {% endthumbnail %}
            {% else %}
                {% thumbnail album.photo_set.all.0.picture "150x150" crop="center" as thumb %}
                <img src="{{ thumb.url }}" />
                {% endthumbnail %}
            {% endif %}
            <div>{{ album.name }}</div>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
