{% extends "photos/base.html" %}
{% load thumbnail %}

{% block title %}{{ block.super }} Albums{% endblock %}

{% block page_breadcrumb %}
<li>Albums</li>
{% endblock %}

{% block content_main %}
<h1>Photos</h1>

<ul class="albums">
    {% for album in object_list %}
    <li class="album">
        <a href="{{ album.get_absolute_url }}">
            <img src="{% thumbnail album.get_cover_photo.picture 150x150 crop %}" />
            <div>{{ album.name }}</div>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
