{% extends "photos/base.html" %}
{% load thumbnail %}

{% block title %}{{ block.super }}{{ object.name }}{% endblock %}

{% block page_breadcrumb %}
<li>{{ object.name|default:"" }}</li>
{% endblock %}

{% block content_main %}
<h1>{{ object.name }}</h1>
<div class="description">{{ object.description|default:""|urlize|linebreaks }}</div>

<ul class="pictures">
    {% for photo in object.photos %}
    <li class="picture">
        <a 
            title="{{ photo.name|default:"" }} {{ photo.description|default:"" }} (<a href='{{ photo.get_absolute_url }}'>permalink</a>)" 
            href="{% thumbnail photo.picture 700x700 %}" 
            rel="album-photos">
            <img src="{% thumbnail photo.picture 150x150 crop %}" />
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
