{% extends "photos/base.html" %}
{% load thumbnail %}

{% block title %}{{ block.super }}{{ object.name }}{% endblock %}

{% block page_breadcrumb %}
<li>{{ object.name|default:"" }}</li>
{% endblock %}

{% block content_main %}
<h1>{{ object.name }}</h1>
<div class="description">{{ object.description|default:""|urlize|linebreaks }}</div>

<ul class="pictures">
    {% for photo in object.photos %}
    <li class="picture">
        <a 
            title="{{ photo.name|default:"" }} {{ photo.description|default:"" }} (<a href='{{ photo.get_absolute_url }}'>permalink</a>)" 
            href="{{ photo.picture.url }}" 
            rel="album-photos">
            {% thumbnail photo.picture "150x150" crop="center" as thumb %}
            <img src="{{ thumb.url }}" />
            {% endthumbnail %}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
