{% extends "base.html" %}
{% load cms_tags %}

{% block content %}
<div id="content" class="with-sidebar">
    {% block content_main %}{% endblock %}
</div>
{% endblock %}

{% block sidebar %}
<div id="sidebar">
    {% placeholder "sidebar" or %}
    {% show_placeholder "sidebar" "base_sidebar" %}
    {% endplaceholder %}
</div>
{% endblock %}

{% block scripts %}
{{ super.block }}
<script type="text/javascript">
$(document).ready(function() {
    if ($('#sidebar').height() < $('#content').height()) {
        $('#sidebar').height($('#content').height());
    }
});
</script>
{% endblock %}
