{% extends "base.html" %}

{% block sidebar %}
<div id="sidebar">
    <iframe scrolling="no" frameborder="0" allowtransparency="true" style="border:none; overflow:hidden; width:299px; height:395px;" src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2F596Acres&width=298&colorscheme=light&show_faces=true&stream=true&header=false&height=395"></iframe>
</div>
{% endblock %}

{% block content %}
<div id="content" class="with-sidebar">
    {% block content_main %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super.block }}
<script type="text/javascript">
$(document).ready(function() {
    if ($('#sidebar').height() < $('#content').height()) {
        $('#sidebar').height($('#content').height());
    }
});
</script>
{% endblock %}
