{% load cache menu_tags %}

<!doctype html>
<head>
    <title>
        596 Acres: {% block title %}{% endblock %}
    </title>
    {% block stylesheets %}
    {% endblock %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}style.css" type="text/css" media="screen" />
</head>

<body>
    <div id="outer">
        <div id="top">
            <a id="logo" href="/"><div></div></a>
        </div>
        <div id="nav">
            <ul>
                {% show_menu 0 100 100 100 "cms/menu.html" %}
            </ul>
            <div style="clear: both;"></div>
        </div>
        <div id="breadcrumbs">
            <ul>
            {% show_breadcrumb "cms/breadcrumb.html" %}
            </ul>
            <div style="clear: both;"></div>
        </div>
        <div id="main">
            {% block sidebar %}{% endblock %}
            {% block content %}{% endblock %}
            <div style="clear: both;"></div>
        </div>
    </div>
    {% if user.is_anonymous %}
    <script src="{{ MEDIA_URL }}admin/js/jquery.js" type="text/javascript"></script>
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#nav li').hover(
                function() { $(this).find('.children').show(); },
                function() { $(this).find('.children').hide(); }
            );

        });
    </script>
    {% block media %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>
