{% load cache cms_tags menu_tags sekizai_tags %}

<!doctype html>
<head>
    <title>
        596 Acres: {% block title %}{% endblock %}
    </title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js" type="text/javascript"></script>

    <meta name="description" content="Public vacant lots in New York City. Find the lot in your life. Contact the owner. Grow something. We can help." />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

    {% if is_mobile %}
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta name="HandheldFriendly" content="True" />
    <link rel="apple-touch-icon" href="{{ MEDIA_URL }}img/apple_touch_icon.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    {% endif %}

    <link rel="shortcut icon" href="{{ MEDIA_URL }}img/fav.ico" />

    {% addtoblock "css" %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}style.css" type="text/css" media="screen" />
    {% endaddtoblock %}
    {% addtoblock "css" %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}jquery-ui/custom.css" type="text/css" />
    {% endaddtoblock %}

    {% if is_mobile %}
    {% addtoblock "css" %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}style_mobile.css" type="text/css" />
    {% endaddtoblock %}
    {% endif %}

    {% render_block "css" %}

    {% block stylesheets %}
    {% endblock %}

    {% addtoblock "js" %}
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-21831100-4']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    {% endaddtoblock %}
</head>

<body>
    <div id="outer">
        <div id="top">
            <a id="logo" href="/"><div></div></a>
            <div class="newsletter">
                {% include "newsletter/mailchimp_signup.html" %}
            </div>
            <div class="clear"></div>
        </div>
        <div id="nav">
            <ul class="nav">
                {% show_menu 0 100 100 100 "cms/menu.html" %}
                <li>
                    <a href="{% url contact.views.contact_us %}">
                        <img src="{{ MEDIA_URL }}img/contact.png" alt="contact" />
                    </a>
                </li>
                <li>
                    <a href="https://ioby.org/project/all-city-acres"><img src="{{ MEDIA_URL }}img/donate.png" alt="donate!" /></a>
                </li>
                <li>
                    <a href="/about/"><img src="{{ MEDIA_URL }}img/about.png" alt="about" /></a>
                    <ul class="children">
                        {% show_menu_below_id "about" 0 100 100 100 %}
                    </ul>
                </li>
                <li style="float: right; padding-top: 2px; padding-bottom: 2px; padding-right: 0;">
                    <a href="/frequently-asked-questions/"><img src="{{ MEDIA_URL }}img/faq.png" alt="frequently asked questions" /></a>
                </li>
            </ul>
            <div style="clear: both;"></div>
        </div>
        <div id="main">
            {% block sidebar %}{% endblock %}
            {% block content %}{% endblock %}
            <div style="clear: both;"></div>
        </div>

        {% block footer %}
        <div id="footer">
        {% cache 600 footer %}
            <ul class="nav">
                {% show_menu 0 100 100 100 "cms/inline_menu.html" %}
            </ul>
            {% placeholder "footer" or %}
            {% show_placeholder "footer" "base_footer" %}
            {% endplaceholder %}
        {% endcache %}
        </div>
        {% endblock %}
    </div>
    <script src="{{ MEDIA_URL }}jquery.watermark.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#nav li').hover(
                function() { $(this).find('.children').show(); },
                function() { $(this).find('.children').hide(); }
            );
            $('.newsletter input[type="text"]').watermark('Your email address');
        });
    </script>
    {% block media %}{% endblock %}
    {% block scripts %}{% endblock %}
    {% render_block "js" %}
</body>
</html>
