{% load cache menu_tags %}

<!doctype html>
<head>
    <title>
        596 Acres: {% block title %}{% endblock %}
    </title>
    {% block stylesheets %}
    {% endblock %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}style.css" type="text/css" media="screen" />
</head>

<body>
    <div id="outer">
        <div id="top">
            <img src="{{ MEDIA_URL }}img/logo.png">
        </div>
        <div id="nav">
            <ul>
                {% show_menu 0 100 100 100 "cms/menu.html" %}
            </ul>
            <div style="clear: both;"></div>
        </div>
        <div id="breadcrumbs">
            <ul>
            {% show_breadcrumb "cms/breadcrumb.html" %}
            </ul>
            <div style="clear: both;"></div>
        </div>
        <div id="main">
            <div id="sidebar">
                <iframe src="http://www.facebook.com/plugins/activity.php?site=596acres.org&amp;width=200&amp;height=300&amp;header=true&amp;colorscheme=light&amp;font=arial&amp;border_color&amp;recommendations=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:300px; float: right;" allowTransparency="true"></iframe>
            </div>
            <div id="content">
            {% block content %}{% endblock %}
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    {% if user.is_anonymous %}
    <script src="{{ MEDIA_URL }}admin/js/jquery.js" type="text/javascript"></script>
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#nav li').hover(
                function() { $(this).find('.children').show(); },
                function() { $(this).find('.children').hide(); }
            );

            if ($('#sidebar').height() < $('#content').height()) {
                $('#sidebar').height($('#content').height());
            }
        });
    </script>
    {% block media %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>
