<div id="share-container" style="padding-top: 5px;">
    <div>
        <iframe src="http://www.facebook.com/plugins/like.php?href={{ request.build_absolute_uri|urlencode:"" }}&layout=button_count&show_faces=false&width=50&action=like&height=25" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:25px; padding-top: 5px;" allowTransparency="true">
        </iframe>
    </div>
    <div>
        <a href="http://twitter.com/share" class="twitter-share-button" data-text="596 Acres" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </div>
</div>
