<div id="share-container" style="padding-top: 5px;">
    {% with page_url=request.build_absolute_uri %}
    <div>
        <a class="a2a_dd" href="http://www.addtoany.com/share_save?linkurl={{ page_url }}&amp;linkname=596+acres+{{ title }}"><img src="http://static.addtoany.com/buttons/share_save_120_16.gif" width="120" height="16" border="0" alt="Share"/></a>
        <script type="text/javascript">
            var a2a_config = a2a_config || {};
            a2a_config.linkname = "596 acres: {{ title }}";
            a2a_config.linkurl = "{{ page_url }}";
        </script>
        <script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
    </div>
    <div>
        <iframe src="http://www.facebook.com/plugins/like.php?href={{ page_url }}&layout=button_count&show_faces=false&width=50&action=like&height=25" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:25px; padding-top: 5px;" allowTransparency="true">
        </iframe>
    </div>
    {% endwith %}
    <div>
        <a href="http://twitter.com/share" class="twitter-share-button" data-text="596 Acres" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </div>
</div>
