{% extends "registration/base.html" %}

{% block title %}Reset your password{% endblock %}

{% block breadcrumbs %}
{{ block.super }} &gt;&gt; Reset your password
{% endblock %}

{% block content %}
{% if validlink %}
    {% if form.errors %}
    {{ form.errors }}
    {% endif %}

    <form method="post" action="">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>

        <input type="submit" value="change" />
        <input type="hidden" name="next" value="/cropcount/" />
    </form>
{% else %}
    <p>Sorry, the link you used was invalid. Please <a href="{% url accounts.views.password_reset %}">try again</a>.</p>
{% endif %}
{% endblock %}
