body {
    -webkit-text-size-adjust: none; 
    padding: 5px;              
    background: white !important;
}

#outer {
    width: 100%;
    background: none;
}

#top a#logo,
#top a#logo div {
    width: 200px; 
    height: 50px; 
}
#top a#logo {
    display: block;
}
#top a#logo div {
    background-image: url(/media/img/logo_mobile.png); 
}

#map_page #map_container,
#map_page #side {
    display: block;
    float: none;
    width: 100%;
}
#map_page #map {
    height: 300px;
}

#main #sidebar {
    display: none;
}
#main #content.with-sidebar {
    margin: 0;
    padding: 0;
}

form > table td input[type=text] {
    width: 50%;
}

#lot-details .section {
    width: 100%;
}
#lot-details .section th {
    width: 50%;
}
#lot-details .section td {
    width: 50%;
}

.popup_loading {
    width: 200px;
    height: 200px;
}
.lot-popup .ui-tabs .ui-tabs-nav li a {
    padding-left: 0;
    padding-right: 0;
}

.lot-popup.organized .lot-link-container {
    height: 95px;
}

.olPopupCloseBox {
    background-image: url(/media/img/close_large.png) !important;
    width: 40px !important;
    height: 40px !important;
}
.olControlAttribution {
    display: none !important;
}
.olControlZoomPanel {
    top: 2px !important;
    left: 2px !important;
}
#map_buttons {
    display: none !important;
}
