{% extends "admin_tools/dashboard/module.html" %}
{% block module_content %}     
<ul class="recently-added">
    {% spaceless %}    
    <li>
        <a href="{% url admin:cmsplugin_blog_entry_add %}"><img src="{{ MEDIA_URL }}img/spechbubble_32.png" /> add news</a>
    </li>
    <li>
        <a href="{% url admin:cmsplugin_blog_entry_changelist %}"><img src="{{ MEDIA_URL }}img/spechbubble_2.png" /> view news</a>
    </li>
    <li>
        <a href="{% url admin:cms_page_add %}"><img src="{{ MEDIA_URL }}img/doc_new.png" /> add a page</a>
    </li>
    <li>
        <a href="{% url admin:cms_page_changelist %}"><img src="{{ MEDIA_URL }}img/document.png" /> view pages</a>
    </li>
    {% endspaceless %} 
</ul>
<div style="clear: both;"></div>
{% endblock %}                 


