<script>
    $(document).ready(function() {
        $('.map-legend input[type="checkbox"]').change(function() {
            var lot_types = $.map($('.map-legend input[type="checkbox"]:checked'), function(e, i) { return $(e).attr('name'); });
            $('#map').data('lotmap').filterByLotType(lot_types); // Obviously only going to work on map_template pages
        });
    });
</script>

<div class="map-legend">
    <ul>
        <li class="vacant">
            <input type="checkbox" name="vacant" id="vacant" checked="checked" />
            <label for="vacant">
                <img src="{{ MEDIA_URL }}img/vacant.png" alt="vacant lot (point)" /> vacant lots
            </label>
            (<span class="count">{{ counts.vacant }}</span>)
        </li>
        <li class="organizing">
            <input type="checkbox" name="organizing" id="organizing" checked="checked" />
            <label for="organizing">
                <img src="{{ MEDIA_URL }}img/organizing.png" alt="vacant lot with organizers (point)" /> vacant lots being organized around
            </label>
            (<span class="count">{{ counts.organizing }}</span>)
        </li>
        <li class="accessed">
            <input type="checkbox" name="accessed" id="accessed" checked="checked" />
            <label for="accessed">
                <img src="{{ MEDIA_URL }}img/accessed.png" alt="vacant lot where groups have access (point)" /> vacant lots where groups have gained access
            </label>
            (<span class="count">{{ counts.accessed }}</span>)
        </li>
        <li class="garden">
            <input type="checkbox" name="garden" id="garden" />
            <label for="garden">
                <img src="{{ MEDIA_URL }}img/gardened.png" alt="community garden (point)" /> lots that are part of community gardens
            </label>
            (<span class="count">{{ counts.garden }}</span>)
        </li>
        <li class="inaccessible">
            <input type="checkbox" name="inaccessible" id="inaccessible" />
            <label for="inaccessible">
                <img src="{{ MEDIA_URL }}img/inaccessible.png" alt="gutterspaces" />
            </label> 
            <a href="/about#gutterspace">gutterspaces</a>
            (<span class="count">{{ counts.inaccessible }}</span>)
        </li>
    </ul>
</div>
