{% load i18n %}

<script>
    $(document).ready(function() {
        $('.map-legend input[type="checkbox"]').change(function() {
            var lot_types = $.map($('.map-legend input[type="checkbox"]:checked'), function(e, i) { return $(e).attr('name'); });
            // NB: only going to work on map_template pages!
            $('#map').data('lotmap').filterByLotType(lot_types);
            update_counts();
        });
    });
</script>

<div class="map-legend">
    <ul>
        <li class="sandy_distribution_sites">
            <input type="checkbox" name="sandy_distribution_sites" id="sandy_distribution_sites" checked="checked" />
            <label for="sandy_distribution_sites">
                <img src="{{ MEDIA_URL }}img/gardened.png" alt="distribution sites" /> 
                {% trans "distribution sites" %}
            </label>
            (<span class="sandy_distribution_sites count"></span>)
        </li>
        <li class="sandy_dropoff_sites">
            <input type="checkbox" name="sandy_dropoff_sites" id="sandy_dropoff_sites" checked="checked" />
            <label for="sandy_dropoff_sites">
                <img src="{{ MEDIA_URL }}img/organizing.png" alt="dropoff sites" /> 
                {% trans "dropoff sites" %}
            </label>
            (<span class="sandy_dropoff_sites count"></span>)
        </li>
    </ul>
</div>
