{% extends "cms/main_template.html" %}
{% load cms_tags %}

{% block media %}
    {{ block.super }}
    <script src="{{ MEDIA_URL }}jquery-util.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}OpenLayers/OpenLayers.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}cloudmade.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}map.js" type="text/javascript"></script>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#map').lotmap({
                queryString: 'source=OASIS',   
                addContentToPopup: function(popup, feature) {
                    $.getJSON('/lots/' + feature.fid +'/details/json/', function(details) {
                        var $clone = $('#popup_template').clone();
                        $clone.find('td[class!=""]').each(function(i) {
                           $(this).text(details[$(this).attr('class')]); 
                        });
                        $(popup).find('div').append($clone.show());
                    });
                },
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div id="map" style="width: 60%; height: 500px; float: left;"></div>
    <div id="side" style="float: left; width: 35%;">
    {% placeholder "main" %}
    </div>
    <div style="clear: both;"></div>

    <div id="popup_template" style="display: none;">
        <table>
            <tr>
                <td>address</td>
                <td class="address"></td>
            </tr>
            <tr>
                <td>zipcode</td>
                <td class="zipcode"></td>
            </tr>
            <tr>
                <td>bbl</td>
                <td class="bbl"></td>
            </tr>
            <tr>
                <td>block</td>
                <td class="block"></td>
            </tr>
            <tr>
                <td>lot</td>
                <td class="lot"></td>
            </tr>
            <tr>
                <td>owner</td>
                <td class="owner"></td>
            </tr>
            <tr>
                <td>area</td>
                <td class="area"></td>
            </tr>
    </div>
{% endblock %}

